<h2>Contacts</h2>
<div id="contact_container" class="corner">
    <a href="https://github.com/SlaVcE14" target="_blank">
        <img src="/img/icons/github2.png" alt="GitHub">
    </a>
    <a href="https://twitter.com/SlaVcEJ14" target="_blank">
        <img src="/img/icons/x.png" alt="Twitter">
    </a>
    <!--            <a href="https://www.linkedin.com/in/slavce-joseski/" target="_blank">-->
    <!--                <img src="img/icons/linkedIn.png" alt="LinkedIn">-->
    <!--            </a>-->
    <a id="mail" href="mailto: slavce@sj14apps.com">
        <img src="/img/icons/mail.png" alt="Mail">
        <p>slavce@sj14apps.com</p>
    </a>
</div>